<div class="row"  >
	<div class="col-sm-1" ng-show="isRecipient">
	</div>
	<div class="col-sm-1" ng-hide="isRecipient">
	</div>
	<div class="col-sm-2">
		<strong>{{user_tag}}</strong>
	</div>
	<div class="col-sm-7">
		<strong>Subject</strong>
	</div>
	<div class="col-sm-2">
		<strong>Date</strong>
	</div>
</div>
<div ng-repeat="message in messages" class="message-row row" >
	<div class="col-sm-1" ng-click="setFlag()" ng-show="isRecipient">
	<a href="" ng-hide="message.important"><span class="glyphicon glyphicon-flag" style="color:rgba(0, 0, 0, 0.1);"></span></a>
	<a href="" ng-show="message.important"><span class="glyphicon glyphicon-flag" style="color:red;"></span></a>
	</div>
	<div class="col-sm-1" ng-hide="isRecipient">
	</div>
	<div class="col-sm-2" ng-click="showDetails(message)">
		{{isRecipient? message.sender : message.recipient }}
	</div>
	<div class="col-sm-7" ng-click="showDetails(message)">
		{{message.subject}} <span class="message-preview"> <small class="message-preview">-{{message.message}}</small></span>
	</div>
	<div class="col-sm-2" ng-click="showDetails(message)">
		<small>{{message.date | date:'MMM dd yyyy'}}</small>
	</div>
</div>
