<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="style/profile.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
	<script type="text/javascript" src="script/profile.js"></script>
	<script src="https://code.angularjs.org/1.5.5/angular-route.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://code.angularjs.org/1.5.5/angular-cookies.js" ></script>
</head>
<body ng-app="profileApp" ng-controller = 'profileCtrl'>
<header ng-include src="'nav.html'">
</header>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" >
        <img src="{{user.avatar_url}}" class="avatar" height="50px">
        <span> Hello, {{currentUser}}. Welcome to your profile page! </span>
        <span class="btn btn-default" ng-click="update()" ng-hide="updateclicked">Update Profile</span> 
        <a href="/profile.html#/"><span class="btn btn-default" ng-click="updateclicked = !updateclicked" ng-show="updateclicked">Cancel Update</span></a>
    </div>
    <br>
    <div class="panel-body" ng-view></div>
  </div>
</div>
</body>
</html>